.products {
  overflow: hidden;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1.5em 0 8em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 25%;
  padding: 0.75em 0.75em 1.25em;
  position: relative;
}

@media screen and (max-width: 65em) {
  .product {
    width: 33.333%;
  }
}

.product__box {
  border-radius: 5px;
  padding: 0.5em;
  background: #222222;
}

.product__meta {
  position: relative;
  margin: 10px 0 0;
  padding: 0 60px 0 0;
  text-align: left;
}

.product__title {
  font-size: 0.95em;
  font-weight: bold;
  margin: 0;
  padding: 0.4em 0 0.1em;
}

.product__price {
  font-size: 0.95em;
  font-weight: bold;
  position: absolute;
  top: 0.45em;
  right: 0.25em;
  color: #595b64;
}

.product__action {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.85em 2.35em;
  transition: opacity 0.3s, transform 0.3s;
  transform: translate3d(-5px, 0, 0);
  cursor: pointer;
  opacity: 0;
}

.product__icon {
  width: 20px;
  fill: #5c5edc;
}

.product:hover .product__action {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.product__action:hover .product__icon {
  fill: #fff;
}

.bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.75em 5em;
  text-align: center;
  background: #191a1b;
}

.cart {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
  color: #abacae;
  border: none;
  background-color: #131415;
  padding: 0 1em;
  display: flex;
}

.cart__icon {
  fill: #abacae;
  width: 20px;
}

.cart:hover .cart__icon {
  fill: #fff;
}

.cart__count {
  font-size: 9px;
  font-weight: bold;
  line-height: 15px;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 15px;
  height: 15px;
  margin: -16px 0 0 0;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #5c5edc;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__label {
  font-size: 0.85em;
  display: inline-block;
  margin: 0 2%;
  font-weight: bold;
  color: #393a3f;
}

.filter__item {
  font-weight: bold;
  margin: 0 2%;
  padding: 0.1em;
  vertical-align: middle;
  color: #a3a3b3;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-transform: capitalize;
  &.active {
    color: $lila;
    border-color: $lila;
  }
}

// cart
.cart__container {
  max-width: 800px;
  margin: auto;
}

.table__header,
.table__cell,
.table__footer {
  display: grid;
  grid-template-columns: 45% 35% 20%;
  grid-gap: 8px;
}

.table__header {
  & > div {
    padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
  }
}

.table__cell {
  & > div {
    border-bottom: 1px solid #ddd;
    padding: 0.75em 0;
    display: flex;
    align-items: center;
  }
  .table__info {
    display: flex;
    align-items: center;
  }

  h4 {
    font-weight: bold;
  }

  a {
    color: $silver;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.5px;
  }

  input {
    background: $gray;
    border: none;
    outline: none;
    line-height: 2;
    width: 60px;
    text-align: center;
    margin-right: 1em;
    border-radius: 5px;
  }
}

.table__footer {
  margin-top: 1em;
  align-items: center;
  & > div:first-child {
    grid-column: 2/3;
    text-align: right;
    text-transform: uppercase;
  }
  & > div:last-child {
    background: #222325;
    padding: 0.5em;
  }
}

.cart__null {
  text-align: center;
  font-style: italic;
  color: $gray;
  margin-bottom: 2em;
}

.table__pdt {
  text-align: center;
  margin: 1em 0;
  a {
    font-size: 1.1em;
    color: $gray;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    &:hover {
      color: $silver;
      border-bottom: 1px solid $silver;
    }
  }
}
