body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background:#f9f9f9;
}

.header {
  height: 300px;
  background-color: #6EE8FF;
  display: flex;
  align-items: flex-end;
  padding: 1em;
}

.header__title {
  color: #fff;
  font-size: 2em;
}
